.card {
  transition: all 1s ease-in-out;
}

.card_reverse {
  transition: all 1s ease-in-out;
}

@media (min-width: 768px) {
  .card {
    transform: skew(-25deg, 25deg) rotateY(-45deg) translate(40%) scale(0.7);
  }
  .card:hover {
    transform: scale(0.8);
  }
  .card_reverse {
    transform: skew(25deg, -25deg) rotateY(45deg) translate(-40%) scale(0.7);
  }
  .card_reverse:hover {
    transform: scale(0.8);
  }
}

@media (min-width: 1024px) {
  .card {
    transform: skew(25deg, -25deg) rotateY(-45deg) translate(-50%) scale(0.7);
  }
  .card:hover {
    transform: scale(0.8);
  }

  .card_reverse {
    transform: skew(-25deg, 25deg) rotateY(45deg) translate(50%) scale(0.7);
  }
  .card_reverse:hover {
    transform: scale(0.8);
  }
}
