.swiper-button-prev {
  color: #fff !important;
  transition: 300ms ease-in-out !important;
}

.swiper-button-next {
  color: #fff !important;
  transition: 300ms ease-in-out !important;
  position: absolute !important;
  right: 4rem !important;
}

.swiper-button-prev:hover {
  transform: scale(1.1) !important;
}

.swiper-button-next:hover {
  transform: scale(1.1) !important;
}
