.swiper-button-prev {
  color: #fff !important;
  transition: 300ms ease-in-out !important;
  position: absolute !important;
  height: 13rem !important;
  top: 1rem !important;
  left: 0 !important;
  width: 5rem !important;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 0) 100%
  );
}

.swiper-button-next {
  color: #fff !important;
  transition: 300ms ease-in-out !important;
  position: absolute !important;
  right: 1rem !important;
  top: 1rem !important;
  height: 13rem !important;
  width: 5rem !important;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 93%,
    rgba(0, 0, 0, 1) 98%
  );
}

@media (min-width: 1280px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: 18rem !important;
  }
}
